{% extends "base.html" %}
{% block content %}

<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <h3 class="uk-card-title">For The Emperor! For The Imperium Of Man!</h3>
        <img src="../static/img/1.jpg" alt="Image">
    </div>

        <p>Click the big button! It destroying all unnecessary 192.168.1.1</p>
        <button id="destroy" onclick="destroy()" class="uk-button uk-button-primary uk-button-large">Destroy</button>
        <div class="uk-width-large" id="result" style="padding-top: 20px;">
        </div>


</div>
{% endblock %}